In [1]:
import pandas as pd

In [3]:
mydata = [1,2,3,4]
myseries = pd.Series(mydata)
myseries

0    1
1    2
2    3
3    4
dtype: int64

In [19]:
dfdata = [('Boat', 1), ('Car', 55), ('Bike', 99), ('Truck', 43)]
mydf = pd.DataFrame(dfdata, columns = ['thing', 'count'])
mydf

   thing  count
0   Boat      1
1    Car     55
2   Bike     99
3  Truck     43

In [21]:
mydf['thing']

0     Boat
1      Car
2     Bike
3    Truck
Name: thing, dtype: object

In [23]:
df = pd.read_csv('IRIS.csv')
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [25]:
df['sepal_width']

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sepal_width, Length: 150, dtype: float64

In [27]:
df.loc[2]

sepal_length            4.7
sepal_width             3.2
petal_length            1.3
petal_width             0.2
species         Iris-setosa
Name: 2, dtype: object

In [29]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [33]:
df['sepal_length'] > 5

0       True
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: sepal_length, Length: 150, dtype: bool